{% extends "bootstrap/base.html" %}

<head>
    <link rel="icon" href="data:;base64,=">
    <link href="../../resource/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../../resource/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="../../static/css/flexslider.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet" />

   <!-- Script
   ================================================== -->
	<script src="../../static/js/modernizr.js"></script>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.31.1/jquery.min.js"></script>



</head>

{% block title %}
    {% if title %}{{ title }} - Check Accounting{% else %}Welcome to Check Accounting!{% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="icon" href="data:;base64,=">
    <link href="../../resource/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../../resource/favicon.ico" rel="shortcut icon" type="image/x-icon" />
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <a class="navbar-brand" rel="home" href="#" title="Check accounting">
                <img style="max-width:100px; margin-top: -7px;"
                    src="/static/favicon.ico">
            </a>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Домашняя страница</a></li>
                    <li><a href="{{ url_for('about') }}">О сайте</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('login') }}">Войти</a></li>
                        <li><a href="{{ url_for('register') }}">Зарегистрироваться</a></li>
                    {% else %}
                        <li><a href="{{ url_for('user', public_id=current_user.public_id) }}">Привет, {{ current_user.username }}</a></li>
                        <li><a href="{{ url_for('user', public_id=current_user.public_id) }}">Профиль</a></li>
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="../../static/css/flexslider.css" rel="stylesheet" />
    <link href="../../static/css/style.css" rel="stylesheet" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Сброс пароля</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>

    {% include "footer.html" %}
{% endblock %}
<body>





