{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Редактирование профиля</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.wage.label }}<br>
            {{ form.wage }}<br>
            {% for error in form.wage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>

    {% include "footer.html" %}
{% endblock %}